<h1>Listing gigs</h1>

<table>
  <tr>
    <th>Band</th>
    <th>Concert</th>
    <th>Compensation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gigs.each do |gig| %>
  <tr>
    <td><%= gig.band_id %></td>
    <td><%= gig.concert_id %></td>
    <td><%= gig.compensation %></td>
    <td><%= link_to 'Show', gig %></td>
    <td><%= link_to 'Edit', edit_gig_path(gig) %></td>
    <td><%= link_to 'Destroy', gig, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gig', new_gig_path %>
